<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %}{% endblock title %}
        basefile</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
    {% load static %}
    <link rel="stylesheet"  href="{% static 'ecom.css' %}">
    </head>
<body>
   


   {% block body %}{% endblock body %}
   <section id="newsletter" class="section-p1 section-m1">
    <div class="newstext">
        <h4>Sign up for newsletter</h4>
        <p>Get email updates about our latest shops and <span>special offers</span></p>
    </div>
    <div class="form">
        <input type="text" placeholder="your mail address">
        <button class="normal">Sign Up</button>
    </div>
    </section>

   <footer class="section-p1">
    <div class="col">
        <img class="logo" src="img/logo.png" alt="">
        <h4>Contact-Us</h4>
        <p><strong>housing block california</strong></p>
        <p><strong>Phone:</strong>+9877878787/ 98578678876</p>
        <p><strong>hours:</strong>10:00-18:00</p>
        <div class="follow">
            <h4>Follow us</h4>
            <div class="icon">
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-pinterest-p"></i>
                <i class="fab fa-youtube"></i>
            </div>
        </div>
    </div>
    <div class="col">
        <h4>About</h4>
        <a href="#">About us</a>
        <a href="#">Delievery Information</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Terms & Conditions</a>
        <a href="#">Contact Us</a>
    </div>

    <div class="col">
        <h4>Account</h4>
        <a href="#">Sign in</a>
        <a href="#">View Cart</a>
        <a href="#">My Wishlist</a>
        <a href="#">Track order</a>
        <a href="#">help</a>
    </div>

    <div class="col install">
        <h4>Install App</h4>
        <p>From App Store or Google Play</p>
        <div class="row">
            <img src="img/pay/app.jpg" alt="">
            <img src="img/pay/play.jpg" alt="">
        </div>
        <p>Secuered Payment Gateways</p>
        <img src="img/pay/pay.png">
        <div class="copyright">
            <p>@2021  copyright framework</p>
        </div>
    </div>

    
</footer>

<script src="ecom.js"></script>
</body>
</html>