{% extends 'base1.html' %}

{% load static %}
{% block body %}
    <section id="header">
        <a href="#"><img src="/img/logo.png" class="logo" alt=""></a> 
    <div>
        <ul id ="navbar">
            <li><a  href="/ecom">Home</a></li>
                <li><a  href="/shop">Shop</a></li>
                    <li><a  href="/blog">Blog</a></li>
                        <li><a  href="/about">About</a></li>
                            <li><a  href="/contact">Contact-Us</a></li>
                                <li id="lg-bag"><a class="active" href="/cart"><img src="{% static 'img/shopping-cart.png' %}"</a></li>
                                <a href="#" id="close"><i class="far fa-times">*</i></a>

                            </ul>
    </div>
    <div id="mobile">
         <a href="/cart"><img src="img/shopping-cart.png"></a>
         <i id="bar" class="fas fa-outdent"></i>
       
    </div>
    </section>



<section id="page-header" class="about-header">
        
        <h2>#Let's_Talk</h2>
        
        <p>read all case studies about our products!</p>
       
</section>

<section id="cart" class="section-p1">
    <table width="100%">
        <thead>
            <tr>
                <td>Remove</td>
                <td>Images</td>
                <td>products</td>
                <td>Price</td>
                <td>Quantity</td>
                <td>Subtotal</td>
            </tr>
        </thead>
        <tbody>
            <tr>
               <td><i class="far fa-times-circle"></i></td> 
                <td><img src="img/products/f1.jpg" alt=""></td>
                <td>cartoon Astronaut t-Shirts</td>
                <td>$118.19</td>
                <td><input type="number" value="1"></td>
                <td>$118.19</td>
            </tr>
            <tr>
                <td><i class="far fa-times-circle"></i></td> 
                 <td><img src="img/products/f3.jpg" alt=""></td>
                 <td>cartoon Astronaut t-Shirts</td>
                 <td>$118.19</td>
                 <td><input type="number" value="1"></td>
                 <td>$118.19</td>
             </tr>
             <tr>
                <td><i class="far fa-times-circle"></i></td> 
                 <td><img src="img/products/f6.jpg" alt=""></td>
                 <td>cartoon Astronaut t-Shirts</td>
                 <td>$118.19</td>
                 <td><input type="number" value="1"></td>
                 <td>$118.19</td>
             </tr>

        </tbody>

    </table>
</section>

<section id="cart-add" class="section-p1">
        <div id="coupon">
        <h3>Apply Coupon</h3>
        <div>
            <input type="text" placeholder="Enter Your Coupon">
            <button class="normal">Apply</button>
        </div>
    </div>
    <div id="subtotal">
        <h3>Cart total</h3>
        <table>
            <tr>
                <td>cart subtotal</td>
        <td>$335</td>
            </tr>
            <tr>
                <td>Shipping</td>
        <td>Free</td>
            </tr>
            <tr>
            <td><strong>Total</strong></td>
            <td><strong>$335</strong></td>
            </tr>
        </table>
        <button class="normal">checkout</button>
    </div>
</section>
{% endblock %}