{% extends 'base1.html' %}

{% load static %}
{% block body %}

<section id="page-header" class="about-header">
    <h2>#Let's_Talk</h2>
    <p>Read all case studies about our products!</p>
</section>

<section id="cart" class="section-p1">
    <table width="100%">
        <thead>
            <tr>
                <td>Remove</td>
                <td>Images</td>
                <td>Size</td>
                <td>Price</td>
                <td>Quantity</td>
                <td>Subtotal</td>
            </tr>
        </thead>
        <tbody>
            {% for item in cart_items %}
            <tr>
                 <td>
                    <form action="{% url 'remove_from_cart' item.id %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-lg mx-auto d-block">
                            <i class="far fa-times-circle"></i>
                        </button>
                        
                    </form>
                </td> 
                <td><img src="/media/{{ item.product.image }}" alt="{{ item.product.product_name }}"></td>
                <td>{{ item.product.product_name }}</td>
                <td>${{ item.size }}</td>
                <td>${{ item.product.price }}</td>
                <td><input type="number" value="{{ item.quantity }}" readonly></td>
              {%load custom_filters%}
                <td>{{ item.product.price}}*{{item.quantity }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>

<section id="cart-add" class="section-p1">
    <div id="coupon">
        <h3>Apply Coupon</h3>
        <div>
            <input type="text" placeholder="Enter Your Coupon">
            <button class="normal">Apply</button>
        </div>
    </div>
    <div id="subtotal">
        <h3>Cart Total</h3>
        <table>
            <tr>
                <td>Cart Subtotal</td>
                <td>${{ total }}</td>
            </tr>
            <tr>
                <td>Shipping</td>
                <td>Free</td>
            </tr>
            <tr>
                <td><strong>Total</strong></td>
                <td><strong>${{ total }}</strong></td>
            </tr>
        </table>
        <a href="{% url 'Check_out_cart' total %}" class="btn btn-primary normal">Checkout</a>

    </div>
</section>

{% endblock %}
