
{% extends 'base1.html' %}
{% load static %}

{% block body %}

<section id="header">
    <a href="#"><img src="/img/lo{% static 'go.png" class="logo'%}" alt=""></a> 
<div>
    <ul id ="navbar">
        <li><a class="active" href="/ecom">Home</a></li>
        <li><a href="/shop">Shop</a></li>
                <li><a href="/blog">Blog</a></li>
                    <li><a href="/about">About</a></li>
                        <li><a href="/contact">Contact-Us</a></li>
                            <li id="lg-bag"><a href="/cart."><img src="{% static 'img/shopping-cart.png' %}"></a></li>
                            <a href="#" id="close"><i class="far fa-times">*</i></a>

                        </ul>
</div>
<div id="mobile">
     <a href="/cart"><img src="img/shopping-cart.png"></a>
     <i id="bar" class="fas fa-outdent"></i>
   
</div>
</section>
    <section id="hero">
        <h4>trade-in-offer</h4>
        <h2>Super Value Deals </h2>
        <h1>on all products</h1>
        <p>save more with coupons & upto 70% off</p>
        <button>Show Now</button>
    </section>
   


    <section id="feature" class="section-p1">
        <div class="fe-box">
            <img src="{% static 'img/features/f1.png'%}" alt="">
            <h6>free Shipping</h6>

        </div>
        <div class="fe-box">
            <img src="{% static 'img/features/f2.png'%}" alt="">
            <h6>Online order</h6>

        </div>
        <div class="fe-box">
            <img src="{% static 'img/features/f3.png'%}" alt="">
            <h6>Save Money</h6>

        </div>
        <div class="fe-box">
            <img src="{% static 'img/features/f4.png'%}" alt="">
            <h6>Promotions</h6>

        </div>
        <div class="fe-box">
            <img src="{% static 'img/features/f5.png'%}" alt="">
            <h6>Happy Sell</h6>

        </div>
        <div class="fe-box">
            <img src="{% static 'img/features/f6.png'%}" alt="">
            <h6>F24/7 Support</h6>

        </div>
    </section>




    <section id="product1" class="section-p1">
        <h2>New-Arrival</h2>
        <p>Summer Collections New Modern Design</p>
        <div class="Pro-Container">
            {% for product in products %}
            <div class="pro">
                <img src="{% static product.image %}" alt="">
                <div class="des">
                    <span>{{ product.brand }}</span>
                    <h5>{{ product.product_name }}</h5>
                    <div class="star">
                        {%for rating in product.rating%}
                        <i class="fas fa-star"></i>
                        {%endfor%}
                    </div>
                    <h4>${{ product.price }}</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            {% endfor %}
        </div>
    </section>
    
<section id="banner" class="section-m1">
    <h4>Repair Services</h4>
    <h2>Upto <span>70% Off-</span>All t-Shirts & accessories</h2>
    <button class="normal">Explore More</button>
</section>



<section id="product1" class="section-p1">
    <h2>Featured Products</h2>
    <p>Happy Things</p>
    <div class="Pro-Container">
        {% for product in products %}
        <div class="pro">
            <img src="{% static product.image %}" alt="">
            <div class="des">
                <span>{{ product.brand }}</span>
                <h5>{{ product.product_name }}</h5>
                <div class="star">
                    {%for rating in product.rating%}
                    <i class="fas fa-star"></i>
                    {%endfor%}
                </div>
                <h4>${{ product.price }}</h4>
            </div>
            <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
        </div>
        {% endfor %}
    </div>
</section>


<section id="sm-banner" class="section-p1">
    <div class="banner-box">
            <h4>crazy-deals</h4>
            <h2>buy 1 get 1 free</h2>
            <span>The best classic dreess is on sale at cara</span>
            <button class="white">Learn more</button>
    </div>





    <div class="banner-box banner-box2">
            <h4>Spring/summer</h4>
            <h2>Upcoming season</h2>
            <span>The best classic dreess is on sale at cara</span>
            <button class="white">Collection</button>
    </div>


</section>

<section id="banner3">
    <div class="banner-box ">
        <h4>Seasonal-Sale</h4>
        <h2>Winter Collection -50% Off</h2>
        </div>

        <div class="banner-box banner-box12">
            <h4>new footwear collection</h4>
            <h2>spring/summer Collection</h2>
            </div>

            <div class="banner-box banner-box13">
                <h4>Tshirts</h4>
                <h2>new arrival</h2>
                </div>
        
</section>


{% endblock %}