{% extends 'base1.html' %}

{% load static %}
{% block body %}

<section id="productails" class="section-p1">
    <div class="single-pro-image">
        <img src="img/products/f1.jpg" width="100%" id="mainImg" alt="">
    
    <div class="small-img-group">
        <div class="small-img-col">
        <img src="img/products/f1.jpg" width="100%" class="small-img" alt="">;
    </div>
    
    <div class="small-img-col">
        <img src="img/products/f2.jpg" width="100%" class="small-img" alt="">;
    </div>
    <div class="small-img-col">
        <img src="img/products/f3.jpg" width="100%" class="small-img" alt="">;
    </div>
    <div class="small-img-col">
        <img src="img/products/f4.jpg" width="100%" class="small-img" alt="">;
    </div>
    </div>
    </div>
    <div class="single-pro-details">
        <h6>Home/t-Shirt</h6>
        <h4>Men's Fashion T shirt</h4>
        <h2>$139.00</h2>
        <select>
            <option>Select Size</option>
            <option>XL</option>
            <option>XXL</option>
            <option>small</option>
            <option>Large</option>
        </select>
        <input type="number" value="1">
        <button class="normal">Add to Cart</button>
        <h4>Product Details</h4>
        <span>The gildan ultra cotton tshirt is made from substantial 6.0oz per sq yd fabric 
            constructed from 100%cotton, this classic fit preshrucnk
            jersey knit provides unmatched comfrot with each wear.
            featuring a taped neck and shoulder
        </span>
    </div>
</section>


<section id="product1" class="section-p1"> 

    <h2>Featured products</h2>
    <p>Summer Collections New Modern Design </p>
    <div class="Pro-Container">
        <div class="pro" >
            <img src="img/products/n1.jpg" alt="">
            <div class="des">
                <span>adidas</span>
                <h5>Cartoon Astronaut T-Shirts</h5>
                <div class="star">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <h4>$78</h4>
        </div>
        <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
    </div>
    
        <div class="pro">
            <img src="img/products/n2.jpg" alt="">
            <div class="des">
                <span>adidas</span>
                <h5>Cartoon Astronaut T-Shirts</h5>
                <div class="star">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <h4>$78</h4>
        </div>
        <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
    </div>
    
        <div class="pro">
            <img src="img/products/n3.jpg" alt="">
            <div class="des">
                <span>adidas</span>
                <h5>Cartoon Astronaut T-Shirts</h5>
                <div class="star">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <h4>$78</h4>
        </div>
        <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
    </div>
    
        <div class="pro">
            <img src="img/products/n4.jpg" alt="">
            <div class="des">
                <span>adidas</span>
                <h5>Cartoon Astronaut T-Shirts</h5>
                <div class="star">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <h4>$78</h4>
        </div>
        <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
    </div>
    
        <div class="pro">
            <img src="img/products/n5.jpg" alt="">
            <div class="des">
                <span>adidas</span>
                <h5>Cartoon Astronaut T-Shirts</h5>
                <div class="star">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <h4>$78</h4>
        </div>
        <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
    </div>
    
        <div class="pro">
            <img src="img/products/n6.jpg" alt="">
            <div class="des">
                <span>adidas</span>
                <h5>Cartoon Astronaut T-Shirts</h5>
                <div class="star">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <h4>$78</h4>
        </div>
        <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
    </div>

        <div class="pro">
            <img src="img/products/n7.jpg" alt="">
            <div class="des">
                <span>adidas</span>
                <h5>Cartoon Astronaut T-Shirts</h5>
                <div class="star">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <h4>$78</h4>
        </div>
        <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
    </div>
    
        </div>
</section>

{% endblock %}