{% extends 'base1.html' %}

{% load static %}
{% block body %}
 

    <section id="page-header">
        
        <h2>Super Value Deals </h2>
        
        <p>save more with coupons & upto 70% off</p>
       
    </section>
   

    <section id="product1" class="section-p1">
        <div class="Pro-Container">
            {% for product in products %}
            <div class="pro">
                <img src="{{ product.image.url }}" alt="{{ product.product_name }}">
                <div class="des">
                    <span>{{ product.product_name }}</span>
                    <h5>{{ product.desc }}</h5>
                    {% load custom_filters %}

                    <div class="star">
                        {% for i in featured_product.rating|times %}
                            <i class="fas fa-star"></i>
                        {% endfor %}
                    </div>
                    <h4>${{ product.price }}</h4>
                </div>
                <div class="cart">
                    <a href="#">
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    
    <section id="pagination" class="section-p1">
        <!-- Pagination links can be added here -->
    </section>
   

 

{% endblock %}